.page {
  margin: 10rem 4rem;
  .main {
    display: flex;
    height: 12.5rem;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    .input {
      width: 159px;
    }
  }
}

.logo {
  margin: 1.5rem;
}
